.upload-btn {
  position: absolute;
  top: 64px; /* Adjusts the space below the NavBar (NavBar is typically 64px tall) */
  left: 10px; /* Aligns the button to the left */
  padding: 10px 20px;
  background-color: #6265e5;
  color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

.upload-btn:hover {
  color: #f9ffaa;
}
